
body{
  background-color: #111;
  /*color:rgba(7, 57, 60, 1);*/
}

h2 {
  text-align:center;
  font-size: 12em;
  font-size: 10vmax;
  margin-bottom:0px;

}

h1 {
  text-align: center;
}

#content{
  width: 80%;
  margin:auto;
}

button {
  display: block;
  margin:auto;
  margin-bottom: 20px;
  border: 1px solid #555;
}

button:hover {
  background:papayawhip;
}

#board {
  margin:auto;
  width: 70%;
  height:70%;
}

#board.row {
  margin: auto;
  width: 70%;
  display:inline-block;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


div.cell  {
  background-color: rgba(10, 9, 12, 1);
  min-width:20vw;
  min-height: 20vh;
  display: inline-block;
  margin-top:1vmax;
  margin-bottom: 1vmax;
  border-radius: 2px;
  /*box-shadow: 1px 1px 1px black;
  border-bottom: 4px solid #111;*/

}

div.cell:hover {
  background-color: papayawhip;
}

div.cardo {
  background-color: rgba(10, 9, 12, 1);
  color: rgba(202, 5, 77, 1);
  display: inline-block;
  background-color: rgba(10, 9, 12, 1);
  width: 20vw;
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1vmax;
  margin-bottom: 1vmax;
  border-radius: 2px;

}

div.cardx {
  background-color: rgba(10, 9, 12, 1);
  color: rgba(143, 166, 203, 1);
  display: inline-block;
  background-color: rgba(10, 9, 12, 1);
  width:20vw;
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top:1vmax;
  margin-bottom: 1vmax;
  border-radius: 2px;
}

.invisible {
  display:none;
}

.pink{
  color:rgba(202, 5, 77, 1);
}

.ice-blue{
  color: rgba(143, 166, 203, 1);
}
/* Coolors Exported Palette - coolors.co/77878b-8fa6cb-0a090c-ca054d-07393c */

/* RGB */
/*light slate gray*/
$color1: rgba(119, 135, 139, 1);
/*ceil*/
$color2: rgba(143, 166, 203, 1);
/*smokey black*/
$color3: rgba(10, 9, 12, 1);
/*pictoral carmine*/
$color4: rgba(202, 5, 77, 1);
/*rich black*/
$color5: rgba(7, 57, 60, 1);
